<%- include('includes/head'); %>

<section class="container">
  <h1 class="title">Define muscles</h1>
  <h2 class="title">What is muscle definition?</h2>
  <p class="description">
    Muscle definition consists of modeling the contour of the various visible muscle groups, which helps to keep the body slim and toned.

    The first step to define the musculature is to gain muscle mass to reduce the rate of body fat. In addition, you will need to invest in exercises that increase caloric expenditure, such as squats, push-ups and sit-ups. Maintaining a balanced and balanced diet is also essential for the hypertrophy process, which helps in weight loss and body definition.

    There are countless benefits that practice offers for building a strong and resistant musculature. In addition to improving aerobic conditioning, the practitioner still has extra protection for bones and joints. For this, the ideal is to look for a professional to develop a specific training that is suitable for your body structure.
  </p>
  <a href="/gym"><button class="gym-button">Back</button></a>
</section>

<%- include('includes/footer') %>
