<%- include('includes/head'); %>

<section class="container">
  <h1 class="title">Hypertrophy</h1>
  <h2 class="title">What is muscle hypertrophy?</h2>
  <p class="description">
    The term muscle hypertrophy corresponds to the increase in fat-free lean muscle mass. That is, when we say that we are building muscles, we are actually generating muscle hypertrophy.

    Hypertrophy can occur by increasing cell volume, and depends on several factors, the main ones being weight training, diet, supplementation and rest.
  </p>
    <a href="/gym"><button class="gym-button">Back</button></a>
</section>

<%- include('includes/footer') %>
