<%- include('includes/head'); %>

<section class="container">
  <h1 class="title">Good to see you here!</h1>
  <p class="description">
    This is the Gym Alves website, where you will find the best equipment, great instructors and an environment that will make you fall in love!
  </p>
  <a class="want" href="/register"><button>I want to sign up</button></a>
  <a class="want" href="/login"><button>I already have an account</button></a>
</section>

<%- include('includes/footer') %>
