<%- include('includes/head'); %>
<section class="container">
  <h1 class="title">Hello, friend!</h1>
  <p class="description">Welcome back, log in below.</p>

  <%- include('includes/messages') %>


  <form action="/login" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <label>Email:</label>
    <input class="login-input" type="email" name="email" />
    <label>Password:</label>
    <input class="login-input" type="password" name="password" />
    <button class="login-button">Log in</button>
    <a href="/register">Don't have an account yet?</a>
  </form>
</section>

<%- include('includes/footer') %>
