<%- include('includes/head'); %>

<section class="container">
  <h1 class="title">Lose weight</h1>
  <h2 class="title">Exercises and Weight Loss</h2>
  <p class="description">
    When it comes to losing or gaining weight, diet and physical activity are
    considered complementary. Losing weight through exercise without reducing
    the calories ingested is an inglorious task. Spending hours at the gym is
    not a free pass to eat as much as you like, as those who struggle with the
    scale recognize. Scholars have long supported the theory that our cave
    ancestors burned more calories than the citizens of today's metropolises.
    The decrease in daily energy expenditure inherent to a sedentary life would
    explain the obesity epidemic that plagues much of the world. Thanks to the
    development of a method known as “double-labelled water”, this paradigm has
    been questioned.
  </p>
  <a href="/gym"><button class="gym-button">Back</button></a>
</section>

<%- include('includes/footer') %>
