<%- include('includes/head'); %>

<section class="container">
  <h1 class="title">Are you new here?</h1>
  <p class="description">Fill in the fields below and proceed with your gym registration!</p>

  <%- include('includes/messages') %>

  <form action="/register" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <label>Email:</label>
    <input class="login-input" type="email" name="email" placeholder="email@email.com"/>
    <label>Password:</label>
    <input class="login-input" type="password" name="password" placeholder="Between 6 to 20 characters"/>
    <button class="login-button">Subscribe</button>
    <a href="/login">You already have an account?</a>
  </form>
</section>

<%- include('includes/footer') %>
